body {
    background: #c9ecee;
    overflow-x: hidden;
}

.slide-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-left: 40%;
    padding: 0;
    background: red;
}

.slider {
    width: 500px;
    height: 800px;
    overflow: hidden;
    background: green;
    overflow: hidden;
}

.slides {
    width: 800%;
    height: 8000px;
    display: flex;
    background: yellow;
}

.slides input {
    display: none;
}

.slides img {
    width: 500px;
    border-radius: 12px;
}