body {
    background: #c9ecee;
    overflow-x: hidden;
}

.slide-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34%;
    margin-left: 50%;
}

.slider {
    width: 470px;
    height: 665px;
    overflow: hidden;
}

.slides {
    width: 1200%;
    height: 665px;
    display: flex;
    background: #000;
}

.slides input {
    display: none;
}

.slides img {
    /* width: 70%; */
    height: 100%;
    border-radius: 12px;
}

.slide {
    /* width: 20%; */
    transition: 1s;
}

.navigation-manual {
    position: absolute;
    width: 470px;
    margin-top: -55px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #c9ecee;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 15px;
}

.manual-btn:hover {
    background: #a8d3da;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -8.35%;
}

#radio3:checked~.first {
    margin-left: -16.68%;
}

#radio4:checked~.first {
    margin-left: -24.95%;
}

#radio5:checked~.first {
    margin-left: -83.35%;
}

#radio6:checked~.first {
    margin-left: -100%;
}

#radio7:checked~.first {
    margin-left: -120%;
}

#radio8:checked~.first {
    margin-left: -140%;
}

#radio9:checked~.first {
    margin-left: -140%;
}

#radio10:checked~.first {
    margin-left: -140%;
}

#radio11:checked~.first {
    margin-left: -140%;
}

#radio12:checked~.first {
    margin-left: -140%;
}

.navigation-auto {
    position: absolute;
    display: flex;
    width: 470px;
    justify-content: center;
    margin-top: 610px;
}

.navigation-auto div {
    border: 2px solid #c9ecee;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 15px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background: #c9ecee;
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background: #c9ecee;
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background: #c9ecee;
}

#radio4:checked~.navigation-auto .auto-btn4 {
    background: #c9ecee;
}

#radio5:checked~.navigation-auto .auto-btn5 {
    background: #c9ecee;
}

#radio6:checked~.navigation-auto .auto-btn6 {
    background: #c9ecee;
}

#radio7:checked~.navigation-auto .auto-btn7 {
    background: #c9ecee;
}

#radio8:checked~.navigation-auto .auto-btn8 {
    background: #c9ecee;
}

#radio9:checked~.navigation-auto .auto-btn9 {
    background: #c9ecee;
}

#radio10:checked~.navigation-auto .auto-btn10 {
    background: #c9ecee;
}

#radio11:checked~.navigation-auto .auto-btn11 {
    background: #c9ecee;
}

#radio12:checked~.navigation-auto .auto-btn12 {
    background: #c9ecee;
}