body {
    background: #c9ecee;
    overflow-x: hidden;
}

.slide-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: 50%;
    padding: 0;
    background: red;
}

.slider {
    width: 500px;
    height: 650px;
    overflow: hidden;
}

.slides {
    width: 800%;
    height: 650px;
    display: flex;
}

.slides input {
    display: none;
}

.slides img {
    width: 500px;
    border-radius: 12px;
}

.slide {
    width: 20%;
    transition: 2s;
}

.navigation-manual {}

.manual-btn {
    border: 2px solid #fff;
}