@media screen and (min-width: 767px) {}

.container {
    display: none;
}

@media screen and (max-width: 767px) {
    /* #third-section {
        position: relative;
    } */
    #third-section::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(#f00, #f0f);
        clip-path: circle(30% at right 70%);
    }
    #third-section::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(#2196f3, #e91e63);
        clip-path: circle(20% 10% 10%);
    }
    .container {
        display: block;
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}